<h1>Astronauts</h1>

<% @astronauts.each do |astro| %>
  <div id="<%= astro.id %>">
    <%= astro.name %>
    <%= astro.age %>
    <%= astro.job %>

    <% astro.alpha_missions.each do |mission| %>
      <%= mission.title %>
    <% end %>

    <%= "Total time in space: #{astro.total_time_in_space}" %>
  </div>
<% end %>

<%= "Average age: #{@astronauts.average_age.round(0)}" %>
