<center>
<h1> Apollo 14 Astronauts </h1>
<h3> Average age of all astronauts: <%= @astronauts.average_age %> </h3>
</center>
<hr>
<% @astronauts.each do |astronaut| %>
<section class="astronaut">
  <h3 class='name'><%= astronaut.name %></h3>
  <p class='age'>Age: <%= astronaut.age %></p>
  <p class='job'>Job: <%= astronaut.job %></p>
  <p> Total Time in Space: <%= astronaut.missions.total_time_in_space %></p>
  <p class='mission'><u>Missions:</u></p>
    <% astronaut.sorted_missions.each do |mission| %>
      <p><%= mission.title %></p>
  <% end %>
</section>
<hr>
<% end %>
